{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, [{i, "test"}]}.

{cover_enabled, true}.
{validate_app_modules, true}.

{xref_checks, [fail_on_warning,
               undefined_function_calls]}.

{clean_files, [".eunit", "ebin/*"]}.

%% {plugins, [rebar_covertool]}.
%% {covertool_eunit, ".eunit/eunit.coverage.xml"}.

{deps,
  [
%%     {meck, ".*",
%%      {git, "git://github.com/accense/meck.git", {branch, "master"}}},

%%     {proper, ".*",
%%      {git, "git://github.com/accense/proper.git", {branch, "master"}}},

%%     {covertool, ".*",
%%      {git, "git://github.com/accense/covertool.git", {branch, "master"}}}
  ]
}.
